.features {
  grid-column: center-start/ center-end;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  margin: 6rem 3rem;
  gap: 6rem;
  align-items: start;
  @media only screen and (max-width: $large) {
    grid-row: 3/4;
  }
  @media only screen and (max-width: $md) {
    grid-column: full-start/ full-end;
    grid-row: 4/5;
  }
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 2.5rem;
  row-gap: 1.5rem;

  &__logo {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
  }

  &__text {
    font-size: 1.7rem;
  }
}
