%svg {
  width: 2rem;
  height: 2rem;
  fill: $color-primary;
}

.homes {
  grid-column: center-start/ center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  column-gap: 4rem;
  row-gap: 4rem;
}

.home {
  background-color: $color-grey-light-1;
  position: relative;

  &__img {
    width: 100%;
  }
  &__icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    fill: $color-primary;
  }
  &__name {
  }
  &__location {
    svg {
      @extend %svg;
    }
  }
  &__rooms {
    svg {
      @extend %svg;
    }
  }
  &__area {
    svg {
      @extend %svg;
    }
  }
  &__price {
    svg {
      @extend %svg;
    }
  }
}
