.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / full-end;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  justify-content: center;
  align-content: center;
  row-gap: 4vh;
  justify-items: center;
  @media only screen and (max-width: $md) {
    grid-column: full-start / full-end;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: repeat(3, max-content);
    column-gap: 1rem;
  }

  .heading-3 {
    @media only screen and (max-width: $md) {
      grid-column: 1/-1;
    }
  }

  &__realtor {
    display: grid;
    grid-template-columns: min-content max-content;
    column-gap: 2rem;
    align-items: center;
  }

  &__img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    grid-row: 1 / span 2;
  }

  &__sales {
    font-size: 1.2rem;
    color: $color-grey-light-2;
  }
}
